.level1
  h2 Do you want to discover fire ?
  .row
    input#answer2a(type='checkbox')
    input#answer2b(type='checkbox')
    .commands
      span
        label(for='answer2a') Yes
        span.light
      span
        label(for='answer2b') No
        span.light
    label.continue(for='level2', name='answer2a') Continue
