.level3
  h2 Do you want to discover school ?
  .row
    .commands
      p Even if you were not a dunce
      span
        label(for='level4') Yes
        span.light
      span
        label(for='level4') No
        span.light
