.level2
  h2 Do you want to discover money ?
  .row
    p.result Aww damn, You've lost your eyes !
    label.result.continue(for='level3') Continue...
    .commands
      p No worries about the currency
      span
        label(for='level3') Yes
        span.light
      span
        label(for='ia2wrong') No
        span.light
