.level5
  h2 Do you want to refuse Hitler in the Art School ?
  .row
    .commands
      p Your answer will be secret
      span
        label(for='level6') Yes
        span.light
      span
        label(for='level6') No
        span.light
    p.end
      | You are a fucking looser, but you've found a
    .glitch(data-text="Glitch") Glitch
    .end
      span.light
    p.end Well, so, umh, congratulations... maybe not !
