.level2
  h2 Do you want to discover money ?
  .row
    p.result Aw damn, You loose your eyes !
    label.result.continue(for='level3') Continue...
    .commands
      span
        label(for='level3') Yes
        span.light
      span
        label(for='ia2wrong') No
        span.light
