.level10
  h2 Lublin's city was founded ?
  .row
    p.result Aww damn, Lublin was not founded, so end3r wasn't born... really... you make a terrible mistake... JS13K does not exist
    .center.only-result
      .glitch(data-text="Glitch") Glitch
    label.result.continue(for='iab') Continue...
    .commands
      span
        label(for='iaa') Yes
        span.light
      span
        label(for='ia10wrong') No
        span.light
