.level10
  h2 The first electrical battery was manufactured ?
  .row
    .commands
      span
        label(for='level11') Yes
        span.light
      span
        label(for='level11') No
        span.light
