.level4
  h2 Do you want to abolish slavery ?
  .row
    input#answer4a(type='checkbox')
    .commands
      span
        label(for='ia4wrong') Yes
        span.light
      span
        label(for='answer4a') No
        span.light
    label.continue(for='level5', name='answer4') Continue...
