.level9
  h2 The first electrical battery was manufactured ?
  .row
    .commands
      span
        label(for='level10') Yes
        span.light
      span
        label(for='iab') No
        span.light
