.level1
  h2 Do you want to discover fire ?
  .row
    input#answer2a(type='checkbox')
    input#answer2b(type='checkbox')
    .commands
      p Which element don't you need to discover fire ?
      span
        label(for='answer2a')
          include ../_svg/scissor.pug
        span.light
      span
        label(for='answer2b')
          include ../_svg/paper.pug
        span.light
      span
        label(for='answer2b')
          include ../_svg/rock.pug
        span.light
    label.continue(for='level2', name='answer2a') Continue...
