.level7
  h2 Lego was created ?
  .row
    p.result Ouch, You've lost your head !
    label.result.continue(for='level8') Continue...
    .commands
      span
        label(for='level8') Yes
        span.light
      span
        label(for='ia7wrong') No
        span.light
