.level5
  h2 Do you want to refuse Hitler in the Art School ?
  .row
    .commands
      span
        label(for='level6') Yes
        span.light
      span
        label(for='level6') No
        span.light
