.level3
  h2 Do you want to discover school ?
  .row
    input#answer3a(type='checkbox')
    .commands
      p Even if you were not a dunce
      span
        label(for='answer3a') Yes
        span.light
      span
        label(for='ia3wrong') No
        span.light
    label.continue(for='level4', name='answer3') Continue...
