.level6
  h2 Do you integrate the line work in your factory ?
  .row
    .commands
      span
        label(for='level7') Yes
        span.light
      span
        label(for='level7') No
        span.light
    p.end
      | You are a fucking looser, but you've found a
    div.center
      .glitch(data-text="Glitch") Glitch
    .end
      span.light
    p.end Well, so, umh, congratulations... maybe not !
