$btn-color: #f5deb3;

.commands {
  width: 100%;
  display: block;
  text-align: center;
  color: $btn-color;
  font-weight: bold;
  border-bottom: 1px solid $btn-color;

  > span {
    display: inline-block;
    text-align: center;
    padding: 16px 32px;
    width: 50%;
    border: 5px double $btn-color;

    label {
      cursor: pointer;
      display: block;
      margin: 8px 32px;
      padding: 20px 0;

      & + span {
        cursor: pointer;
      }
    }
  }
}
