$board-color: #000;

main {
  background-color: $board-color;
  width: calc(100% - 10px);
  height: 100%;
  margin: 0 5px;
  padding: 30px;

  counter-reset: level;
}

/************* Helpers *************/

input[type='checkbox'] {
  z-index: 0;
  position: absolute;
  opacity: 0;
}

.flex {
  display: flex;
  height: 100%;

  @media (max-width: 767px) {
    display: block;
    padding-top: 48px;
  }

  svg {
    width: 100%;
  }
}

.row {
  display: table-row;
}

/************* Out of the pane *************/

input[id*='level']:checked {
  counter-increment: level;
}

[class*='abs'] {
  position: absolute;
  width: 100%;
  color: $secondary-color;
  background-color: $primary-color;
  padding: 10px;
}

/* Level indicator */
.abs1 {
  top: 12px;
  font-weight: bold;
  text-align: center;
}

.abs1::after {
  content: ' ' counter(level);
}

/* Game result indicator */
.abs2 {
  top: 42px;

  &:empty {
    padding: 0;
  }
}
