/************* Level pane *************/

$number-of-levels: 10;

/* Pane */
[class*='level'] {
  width: 66%;
  height: 100%;
  float: left;

  @media (max-width: 767px) {
    width: 100%;
    float: none;
    height: auto;
    margin-bottom: 20px;
  }

  svg {
    max-height: 200px;
  }
}

input[id*='level'] ~ [class*='level'] {
  display: none;
}

@for $i from 1 through $number-of-levels {
  .level#{$i} {

    input[id='#{"level" + $i}']:checked ~ & {
      display: table;
    }

    input[id='#{"level" + ($i + 1)}']:checked ~ & {
      display: none !important;
    }
  }
}

#iaa:checked {
  & ~ .levela {
    display: table;
  }

  @for $i from 1 through $number-of-levels {
    & ~ .level#{$i} {
      display: none !important;
    }
  }
}

#iab:checked {
  & ~ .levelb {
    display: table;
  }

  @for $i from 1 through $number-of-levels {
    & ~ .level#{$i} {
      display: none !important;
    }
  }
}

h2 {
  text-align: center;
  padding: 5px 16px;
  color: $secondary-color;
  background: $primary-color;
  margin-top: 20px;
}

p {
  color: $white-color;
  font-weight: bold;
  text-align: center;
}

#answer2a:checked ~ .continue {
  display: block;
}
