/************* Level pane *************/

/* Pane */
[class*='level'] {
  width: 66%;
  height: 100%;
  float: left;

  @media (max-width: 767px) {
    width: 100%;
    float: none;
    height: auto;
    margin-bottom: 20px;
  }
}

input[id*='level'] ~ [class*='level'] {
  display: none;
}

@for $i from 1 through 10 {
  .level#{$i} {

    input[id='#{"level" + $i}']:checked ~ & {
      display: table;
    }

    input[id='#{"level" + ($i + 1)}']:checked ~ & {
      display: none !important;
    }
  }
}

h2 {
  text-align: center;
  padding: 5px 16px;
  color: $secondary-color;
  background: $primary-color;
  margin-top: 20px;
}
