.timeline {
  list-style: none;
  padding: 0;
  border-bottom: 8px solid $secondary-color;
  border-radius: 8px;
  position: relative;

  li {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 8px solid $primary-color;
    border-radius: 16px;
    background: $secondary-color;
    margin-top: -12px;
  }
}
