.level11.end
  h2 Congratulations
  .row
    p.good Awesome, you're alive and you modified the past ! No glitch detected.
    p.bad Not bad, you've just modified the past. You've encountered glitches and you're not alive, totally, perhaps a little bit
