svg(xmlns='http://www.w3.org/2000/svg', viewbox='-36.572 -34 100 100')
  g
    circle(cx='13.565', cy='-11.32', r='2.784')
    rect(width='6.36', height='2.444', x='9.406', y='39.881')
    rect(width='6.36', height='2.444', x='9.406', y='43.601')
    rect(width='6.36', height='2.444', x='9.406', y='46.921')
    path(d='M15.767 52.555v-1.911h-6.36v1.911c-2.117 1.139-3.56 3.371-3.56 5.945H19.33c-.004-2.574-1.446-4.81-3.563-5.945z')
    rect(width='6.363', height='2.444', x='24', y='39.881')
    rect(width='6.363', height='2.444', x='24', y='43.601')
    rect(width='6.363', height='2.444', x='24', y='46.921')
    path(d='M30.364 52.555v-1.911H24v1.911c-2.12 1.139-3.562 3.371-3.562 5.945h13.483c.002-2.574-1.44-4.81-3.557-5.945z')
    path(d='M26.008-14.104c1.539 0 2.785 1.246 2.785 2.785 0 1.537-1.246 2.784-2.785 2.784-1.535 0-2.783-1.247-2.783-2.784 0-1.539 1.248-2.785 2.783-2.785z')
    path(d='M48.029 29.486l.009-.003L36.105 5.876l-.005.003v-.003h-9.275V.006h6.461v-19.004h-7.828v-3.914h-5.18v-8.195h1.061V-34h-3.103v2.894h1.062v8.195h-5.177v3.914H6.293v19h6.461v5.871H3.397l-7.116 8.77-12.619-11.43v-4.64h-2.543v6.507h-6.507v2.543h5.18l17.132 15.521L3.4 15.208v19.127h5.872v4.4h6.357v-4.4h8.239v4.4h6.36v-4.4H36.1V18.869l6.297 12.458-2.009 4.765 2.343.988 2.529-5.996 5.995 2.529.99-2.349-4.216-1.778zM30.744-11.32c0 2.613-2.12 4.731-4.736 4.731-2.611 0-4.731-2.119-4.731-4.731 0-2.614 2.12-4.732 4.731-4.732 2.616 0 4.736 2.118 4.736 4.732zm-21.911 0c0-2.614 2.117-4.732 4.731-4.732s4.731 2.118 4.731 4.732c0 2.613-2.117 4.731-4.731 4.731S8.833-8.707 8.833-11.32zm13.666 39.251H8.351v-3.76h14.148v3.76zm0-5.951H8.351v-3.763h14.148v3.763zm0-6.066H8.351v-3.76h14.148v3.76zM19.789-2.81h-5.303v-1.876h10.601v1.876h-5.298zm11.639 30.741h-6.809v-3.76h6.809v3.76zm0-5.951h-6.809v-3.763h6.809v3.763zm0-6.066h-6.809v-3.76h6.809v3.76z')
