doctype HTML
html(lang='fr')
  head
    meta(charset='utf-8')
    title= 'Robot time machine'
    link(rel='stylesheet', href='css/index.min.css')
  body
    main
      // Level switcher trick
      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        if val == 1
          input(id='level'+val, type='checkbox', checked='checked')
        else
          input(id='level'+val, type='checkbox')
      // Game pane
      include _game.pane.pug
      // Result pane
      include _result.pane.pug
