// Black & white shades
$white-color: #fff;
$black-color: #000;

// Game colors
$primary-color: #a83200;
$secondary-color: #f5deb3; // wheat;

// Shades colors
$accent-primary-color: #8b0000; // darkred;
